
* {
	font-family: "Verdana";
}
@media only screen and (max-width: 1023px) {
	#box {
		display:block !important;
		margin-right: 210px !important;
	}
	div.main, div.mainWidth {
		width: 96% !important;
		float: none !important;
		margin: 27px 10px !important;
	}
	/*div.menu {
		width: 170px !important;
		float: right !important;
	}*/
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

.layout-boxed {
    background: url('boxed-bg.jpg') repeat fixed;
}

.photo {
	width: 26px;
    vertical-align: sub;
}

/*###############################*/
/*	div.frame {
		-webkit-box-shadow: 0px 0px 10px 2px rgba(128,128,128,1);
		-moz-box-shadow: 0px 0px 10px 2px rgba(128,128,128,1);
		box-shadow: 0px 0px 10px 2px rgba(128,128,128,1);
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border: 0px solid #000000;
		padding: 12px 0px;
		margin: 17px -5px;
	}
	div.frame-legend {
		text-align: center;
		background-color: #9999;
		margin-top: -12px;
		margin-bottom: 8px;
		-webkit-border-radius: 10px 10px 0px 0px;
		min-height: 20px;
		padding: 5px;
		color: white;
		letter-spacing: 0.7ex;
	}
	div.frame-content {
		text-align: center;
		padding: 4px;
	}

	div.frame div > .frame { //div w div 
		margin: 9px 5px -3px 5px;
	}*/
/*#####################################*/

#box {
	border: 1px solid #FF000000;
    /* margin-right: 230px; */
    display: flex;
}
div.main {
	width: 50%;
	float: left;
	margin: 10px;
}
div.mainWidth {
	width: 100%;
	margin: 10px;
}
div.menu {
	width: 200px;
	float: right;
	margin: 10px;
	position:relative;
}
#footer {
	clear: both;
    text-align: center;
}

div.frame { /* dodatkowe tło */
	background-color: #dadadacc;
}
/* input */

input.input {
	width: 200px;
	height: 34px;
	display: inline-block;
	border: 2px solid #bbb;
	padding: 4px 3px 3px 5px;
	margin: 0;
	font: inherit;
	outline:none; /* remove focus ring from Webkit */
	line-height: 1.2;
	background: #f8f8f8;
	
	-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
input.trans {
	width:47%;
	margin: 3px 5px;
}
input.send {
	width:100px;
}
input.send:hover {
	background-color: #3295d6;
}
input.send:focus {
	background-color: #c7c7c7;
}
input.filtr {
	color: #0793f1;
	width: 120px;
	text-align: center;
    height: 26px;
	font-weight: normal;
    font-size: small;
}

/* select */
	label.custom-select {
		position: relative;
		display: inline-block;
	}
	.custom-select select {
		width: 200px;
		display: inline-block;
		border: 2px solid #bbb;
		padding: 4px 3px 3px 5px;
		margin: 0;
		font: inherit;
		outline:none; /* remove focus ring from Webkit */
		line-height: 1.2;
		background: #f8f8f8;
		
		-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
		
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.custom-select select {
		padding-right:30px;    
	}
}

/* Since we removed the default focus styles, we have to add our own */
.custom-select select:focus {
	/*-webkit-box-shadow: 0 0 3px 1px #c00;
	-moz-box-shadow: 0 0 3px 1px #c00;
	box-shadow: 0 0 3px 1px #c00;*/
}

/* Select arrow styling */
	.custom-select:after {
		content: "▼";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		font-size: 60%;
		line-height: 30px;
		padding: 0 7px;
		background: #bbb;
		color: white;
		
		pointer-events:none;
		
		-webkit-border-radius: 0 6px 6px 0;
		-moz-border-radius: 0 6px 6px 0;
		border-radius: 0 6px 6px 0;
	}

	.no-pointer-events .custom-select:after {
		content: none;
	}
/*        */

/* button */
	.butn {
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		cursor: pointer;
		border-radius: 28px;
		text-shadow: 1px 1px 3px #666666;
		font-family: Arial;
		color: #ffffff;
		font-size: 14px;
		padding: 10px 20px 10px 20px;
		border: solid #1f628d 2px;
		text-decoration: none;
		margin: 5px 0px;
		width: 95%;
	}
	.butn:disabled {
		background: #bbb;
		background-image: -webkit-linear-gradient(top, #bbb, #a6b9c7);
		background-image: -moz-linear-gradient(top, #bbb, #a6b9c7);
		background-image: -ms-linear-gradient(top, #bbb, #a6b9c7);
		background-image: -o-linear-gradient(top, #bbb, #a6b9c7);
		background-image: linear-gradient(to bottom, #bbb, #a6b9c7);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		cursor: pointer;
		border-radius: 28px;
		text-shadow: 1px 1px 3px #666666;
		font-family: Arial;
		color: #ffffff;
		font-size: 14px;
		padding: 10px 20px 10px 20px;
		border: solid #1f628d 2px;
		text-decoration: none;
		margin: 5px 0px;
		width: 95%;
	}
	.adm {
		width: 85%;
		background-image: -webkit-linear-gradient(top, #3498db, #b92991);
		background-image: -moz-linear-gradient(top, #3498db, #b92991);
		background-image: -ms-linear-gradient(top, #3498db, #b92991);
		background-image: -o-linear-gradient(top, #3498db, #b92991);
		background-image: linear-gradient(to bottom, #3498db, #b92991);
	}

	.butn:hover {
		background: #3cb0fd;
		background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
		background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		text-decoration: none;
	}
	.butn:disabled:hover {
		background: #bbb;
		text-decoration: none;
	}
	.butn:active {
		transform: scale(0.95);
		outline: none;
	}
	.butn:focus {
		outline: none;
	}

	button.user, button.user2 {
		width:65px;
		position: relative;
		left: 24px;
	}
/*        */

/* tolerancje */
	.tolerancje {
		width: 370px;
		height: 50px;
		margin: auto;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3232+0,fff728+20,47c920+50,fff728+80,ff0000+100 */
		background: rgb(255,50,50); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(255,50,50,1) 0%, rgba(255,247,40,1) 20%, rgba(71,201,32,1) 50%, rgba(255,247,40,1) 80%, rgba(255,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(255,247,40,1) 20%,rgba(71,201,32,1) 50%,rgba(255,247,40,1) 80%,rgba(255,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,50,50,1) 0%,rgba(255,247,40,1) 20%,rgba(71,201,32,1) 50%,rgba(255,247,40,1) 80%,rgba(255,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
	}
/*             */

img.flag {
	-webkit-box-shadow: 0px 0px 3px 1px rgba(128,128,128,1);
	-moz-box-shadow: 0px 0px 3px 1px rgba(128,128,128,1);
	box-shadow: 0px 0px 3px 1px rgba(128,128,128,1);
	display: inline-block;
	vertical-align: middle;
	margin: 3px;
	cursor: pointer;
	transition: transform .2s;
	filter: grayscale(0.6);
}
img.flag:hover {
	transform: scale(1.2);
	filter: grayscale(0);
}
img.act {
	filter: grayscale(0);
}
img.sr {
	height: 27px;
}

/* radio zmiany */
	input[type="radio"], input[type="checkbox"] {
		position: relative;
		top: 3px;
		display:none;
	}
	input[type="radio"]+span, input[type="checkbox"]+span {
		font-weight: bold;
		font-size: 1.5em;
		/*color:silver*/
		color: transparent;
		background: #666666;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
		cursor:pointer;
		margin: 0px 10px;
		}
	input[type="radio"]:checked+span, input[type="checkbox"]:checked+span { 
		font-weight: bold; 
		color:red; 
		text-shadow: 0px 0px 2px #1C6EA4; 
		/*-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
		animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;*/
	}

	input.piana {
		/*background-color: #ff7d7d75;*/
	}


table.a3Tolerancje {
	margin: auto;
}

.a3Tolerancje input.input {
	width: 100px;
	text-align: center;
}
.a3Tolerancje th {
	padding:10px;
}
.a th {
	text-align:right;
	padding:10px;
}
.a td {
	padding:10px;
}

	#lista tr {
		height: 35px;
	}

	#fp td {
		padding: 5px;
	}
	#geo_lista, #legenda {
		width: 100%;
	}
	#geo_lista tr td {
		padding: 5px 0px;
	}
	#geo_lista td, #legenda td {
		text-align: center;
		border-style: solid;
		border-color: darkred;
		border-width: 0px 0px 1px 1px;
		border-bottom-left-radius: 7px;
	}

	#legenda td {
		text-align: left;
		padding: 5px;
	}

/*		wyjście komunikatu			*/

	.puff-out-center {
		-webkit-animation: puff-out-center 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) 4s both;
				animation: puff-out-center 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) 4s both;
	}
	/* ----------------------------------------------
	 * Generated by Animista on 2019-7-27 13:2:15
	 * w: http://animista.net, t: @cssanimista
	 * ---------------------------------------------- */

	/**
	 * ----------------------------------------
	 * animation puff-out-center
	 * ----------------------------------------
	 */
	@-webkit-keyframes puff-out-center {
	  0% {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	  }
	  100% {
		-webkit-transform: scale(2);
				transform: scale(2);
		-webkit-filter: blur(2px);
				filter: blur(2px);
		opacity: 0;
	  }
	}
	@keyframes puff-out-center {
	  0% {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	  }
	  100% {
		-webkit-transform: scale(2);
				transform: scale(2);
		-webkit-filter: blur(2px);
				filter: blur(2px);
		opacity: 0;
	  }
	}
/**/


/*	u3	*/

.report {
	margin: auto;
}
.report td {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8395b4;
    padding: 4px 15px;
}
.report .left {
	border-bottom-left-radius: 20px;
}
.report .right {
	/*border-bottom-right-radius: 15px;*/
	text-align: right;
}

f {
	color: #0793f1;
}



		.tooltip {
		  position: relative;
		  display: inline-block;
		  /*border-bottom: 1px dotted black;*/
		}

		.tooltip .tooltiptext {
		  visibility: hidden;
		  width: auto;
		  background-color: black;
		  color: #fff;
		  text-align: center;
		  border-radius: 6px;
		  padding: 5px 10px;
		  position: absolute;
		  z-index: 5;
		  bottom: 150%;
		  left: 50%;
		  margin-left: -60px;
		}

		.tooltip .tooltiptext::after {
		  content: "";
		  position: absolute;
		  top: 100%;
		  left: 50%;
		  margin-left: -5px;
		  border-width: 5px;
		  border-style: solid;
		  border-color: black transparent transparent transparent;
		}

		.tooltip:hover .tooltiptext {
		  visibility: visible;
		}

		.tooltiplang {
			bottom: -100%;
		}


div.table {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}
div.table div.head-row {
	display: table-header-group;
}
div.table div.head, div.cell {
	display: table-cell;
	font-variant: small-caps;
}
div.table div.head {
	font-weight: bold;
}
div.table div.cell {
	border-style: solid;
    border-color: darkred;
    border-width: 0px 0px 1px 1px;
    border-bottom-left-radius: 7px;
}
div.table div.row {
	display: table-row;
}
div.table div.row2 {
	background-color:#3192d330;
}

div.cell input {
	margin: 5px;
}
div.row div {
	display: table-cell;
}

.t {
	display:none;
}